<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IISNode handler for Node.js app -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      <!-- If you are using index.cjs wrapper, change server.js to index.cjs -->
    </handlers>

    <!-- IISNode configuration -->
    <iisnode
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="node --no-deprecation" />

    <!-- Static file handler (so IIS serves static content before Node) -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
    </staticContent>

    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
        <!-- Or index.cjs if you created the wrapper -->
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
